html {
  scroll-behavior: smooth;
}
.bg-brand {
  background-color: #f5df4e;
}
.text-brand {
  color: #212429;
}
.bg-grey {
  background: rgb(237, 237, 237);
}
@media only screen and (max-width: 600px) {
  .textCenter {
    text-align: center;
  }
}
